body{
	margin: 0;
	font-family: sans-serif;
	background: red;
}

h1{
	color: white;
}

#logo{
	height: 125px;
	width: 125px;
	border-radius: 50%;
}

#container{
	display: flex;
	align-items: center;
	justify-content: safe center;
	height: 100vh;
	flex-direction: column;
}